// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "aspeed-g6.dtsi"

/ {
	model = "ASRock Rack B650D4U BMC";
	compatible = "asrock,b650d4u-bmc", "aspeed,ast2600";

	aliases {
		serial4 = &uart5;
	};

	chosen {
		stdout-path = "serial4:115200n8";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};
};

/* BMC Console UART */
&uart5 {
	status = "okay";
};

/* SPI Flash Management */
&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
	};
};

/* Dedicated management LAN via on-board discrete PHY */
&mdio0 {
	status = "okay";

	ethphy0: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mac0 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&ethphy0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default &pinctrl_mdio1_default>;
};

/* I2C Bus for FRU/EEPROM Storage */
&i2c7 {
	status = "okay";
	eeprom@57 {
		compatible = "atmel,24c02";
		reg = <0x57>;
		pagesize = <16>;
	};
};

/* System Watchdog */
&wdt1 {
	status = "okay";
	aspeed,reset-type = "soc";
};
